<div class="container">
	<div class="mainContent ">

		<div class="col-md-4 about-logo">
		
		<!-- <img src="assets/img/logogrey.png">	 -->
		
		</div>

		<div class="col-md-8" id="wordContent">
			<p> Our goal has always been to create something that people can connect with and see themselves in. It’s attempted to carve a niche in the market that is inclusive, open-minded and straightforward. Originally started in New York City in 2011, the aim was to deliver quality-made, progressive electronics. At the time, MYSA was run entirely out of a single room that functioned as a studio, showroom, office and bedroom.

			Since those early days, MYSA has grown out of that small studio, but still maintains it’s original vision. With gadgets made in California, and the founder himself a native Californian, MYSA is strongly influenced by New York and California cultures.
			</p>
		</div>

	</div>
</div>