<div class="container about">
	
	<h1>MYSA - the most flexible power system</h1>
	<br>
	<div class="row">
		<div class="col-xs-4">
			<div class="about-logo"></div>
			<div id="contact">
				<p>460 King Street West<br>Toronto, Canada<br>ON M5V</p>
				<br>
				<a href="mailto:melissaleesy@gmail.com"><span class="glyphicon glyphicon-envelope"></span> Contact Us</a>
			</div>
		</div>

		<div class="col-xs-8" id="wordContent">
			<p>MYSA was founded in 2003 with the vision of becoming the world leader in the new generation of power outlet system. MYSA invented and patented the GSS power outlet system in 2000. This track-based and ultra-flexible system was awarded worldwide patents since 2003. Worldwide sales commenced in the same year.

			Headquartered in ShangHai, Mysa has a regional office in the UK and USA. MYSA acquired a new plant in Singapore in 2006 to meet the increasing demands from the global market. Eubiq's global network of distributors spans more than 40 countries and Eubiq's products are widely used in all sectors of residential, commercial and industrial. The list of satisfied customers throughout the world includes Fortune 500 companies, banks, hotels, governments, institutions to individual home owners.

			In recognition of the strengths and achievements, the MYSA GSS System has won multiple awards including President's Design Award Singapore (Design of the Year 2008), International Design Excellence Awards '08 (IDEA) - Office & Productivity (Bronze), Asia Pacific ICT Alliance Awards 2007 - Industrial Applications (Winner) and Gold Award: Best of NeoCon - Technonlogy Support (2007 and 2008).

			Today, the GSS System is increasingly becoming the platform of choice, delivering all essential services to the end-users. From power, data, communications, lighting, accessories, mounting to cable management and other needs.

			It's truly the world's most flexible power outlet system and the infrastructure platform of the future.
			</p>
		</div>

	</div>
</div>