<div class="inventory col-xs-offset-1 col-xs-10">
	<h1> Current Product</h1>
		<table>
			<tr>
				<th>Name</th>
				<th>Quantity</th>
			</tr>
			<tr ng-repeat="product in ctrl.products">
			<td>{{product.name}}</td>
			<td><input type="number" ng-model="product.quantity"></td>
			<td><button ng-click="ctrl.updateProduct(product)">update</button></td>
			</tr>
		</table>
	<h1>View Orders</h1>
	<!-- <input type="text" ng-model="ctrl.name"> -->
	<button ng-click="order_status=true">Pending Orders</button>
	<button ng-click="order_status=false">Completed Orders</button>
	<!-- attach a ng-click to this button, which will change the value of the expression being checked for to 'true' -->
		<!-- inside your ng-repeat, apply filter. The filter will target a property of order -->
	<table class="products-list table">
		<tr>
			<th>Customer</th>
			<th>Product</th>
			<th>Quantity</th>
			<th>Total</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<tr ng-repeat="order in ctrl.orders| filter:order_status">
				<td>{{order.customer_Info.firstName}}</td>
				<td>{{order.cart[0].name}}</td>
				<td>{{order.cart[0].qty}}</td>
				<td>{{order.cart[0].qty * order.cart[0].cost}}</td>
				<td><button ng-click="ctrl.viewOrder(order._id)">View Order Details</button></td>
				<td><button ng-click="ctrl.completeOrder(order)" ng-if="order.order_status">Order Complete</button></td>
				<td><a href ng-click="ctrl.deleteOrder(order._id)">x</a></td>
		</tr

	</table>
	<button ui-sref="inventory">Manage Inventory</button>
	<button ng-click="ctrl.logout()">Log Out</button>
	<div ui-view=""></div>
</div>