<body>

<div class="admin row">

<div class="vertBtns col-xs-2 col-xs-offset-1">
	<div class="btn-group-vertical" role="group" aria-label="...">
		<button class="btn btn-default active" ui-sref="inventory">Manage Inventory</button>
		<button ng-click="ctrl.order_status=true" class="btn btn-default  active">Pending Orders</button>
		<button ng-click="ctrl.order_status=false" class="btn btn-default active">Completed Orders</button>
		<button class="btn btn-default active" ng-click="ctrl.logout()">Log Out</button>
	</div>
</div>

<div class="currProd col-xs-8">
	<h1>Current Product</h1>

	<div ng-hide="ctrl.is_products">
		<p><i>You have no products</i></p>
	</div>

	<div ng-show="ctrl.is_products">
		<table>
			<tr>
				<th class="col-sm-3"></th>
				<th class="col-sm-3">Name</th>
				<th class="col-sm-3">Quantity</th>
				<th> </th>
			</tr>
			<tr ng-repeat="product in ctrl.products">
				<td class="col-sm-3">
					<img src="{{product.image}}" style="width:200px">
				</td>
				<td class="col-sm-3">
					{{product.name}}
				</td>
				<td class="col-sm-3">
					<input type="number" ng-model="product.quantity">
				</td>
				<td><button class="btn button btn-xs" ng-click="ctrl.updateProduct(product)">update</button></td>
			</tr>
		</table>
	</div>
</div>

<div class="col-xs-1"></div>

<div class="row">
	<div class="col-xs-8 col-xs-offset-3">
	
		<h1>View Orders</h1>

		<!-- <div ng-hide="ctrl.is_orders">
			<p><i>You have no orders</i></p>
		</div>
 -->
		<!-- <div ng-show="ctrl.is_orders"> -->
			<table class="products-list table">
				<tr>
					<th>Customer</th>
					<th>Product</th>
					<th>Quantity</th>
					<th>Total</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				<tr ng-repeat="order in ctrl.orders| filter:ctrl.order_status">
						<td>{{order.customer_Info.firstName}}</td>
						<td>{{order.cart[0].name}}</td>
						<td>{{order.cart[0].qty}}</td>
						<td>{{order.cart[0].qty * order.cart[0].cost}}</td>
						<td><button class="btn btn-sm" ng-click="ctrl.viewOrder(order._id)">View Order Details</button></td>
						<td><button class="btn btn-sm" ng-click="ctrl.completeOrder(order)" ng-if="order.order_status">Order Complete</button></td>
						<td><a href ng-click="ctrl.deleteOrder(order._id) reload">x</a></td>
				</tr
			</table>
		<!-- </div> -->

	</div>
</div>

</div>

</body>