<!-- <button ng-click="ctrl.goToCart()">back to cart</button> -->

<br><br>

<div class="container" id="shippingInfo">

    <h3>shipping information</h3>
    <br>
    <form name="frm">
        <div>
            <p>first name</p>
            <input class="inputform" type="text" name="first_name" ng-model="ctrl.firstName" required>
            <br><br>
        </div>
        <div>
            <p>last name</p>
            <input class="inputform" type="text" name="last_name" ng-model="ctrl.lastName" required>
            <br><br>
        </div>
        <div>
            <p>email</p>
            <input class="inputform" type="email" name="email" ng-model="ctrl.email" required>
            <br><br>
        </div>
        <div>
            <p>primary address</p>
            <input class="inputform" type="text" name="address1" ng-model="ctrl.address" required>
            <br><br>
        </div>
        <div>
            <p>apt/suite #</p>
            <input class="inputform" type="text" name="apt" ng-model="ctrl.apt">
            <br><br>
        </div>
        <div>
            <p>province</p>
            <input class="inputform" type="text" name="province" ng-model="ctrl.province" required>
            <br><br>
        </div>
        <div>
            <p>city</p>
            <input class="inputform" type="text" name="city" ng-model="ctrl.city" required>
            <br><br>
        </div>
        <div>
            <p>postal code</p>
            <input class="inputform" type="text" name="postal" ng-model="ctrl.postal" required>
        </div>
            <br><br>

        <button class="button" ng-click="ctrl.reviewOrder()">&#10003;</button>
            
            <br><br>
    </form>

</div>

<!-- <div class="container orderReview" ng-repeat="cartProduct in ctrl.cart">
    <table>
        <colgroup>
            <col span="1" class="tableCol1">
        </colgroup>
        <tr>
            <td><img ng-src="/assets/img/demo.jpg" style="height:100px;"></td>
        </tr>
        <tr>
            <th>name:</th>
            <td>{{cartProduct.name}}</td>
        </tr>
        <tr>
            <th>cost:</th>
            <td>{{cartProduct.cost}}</td>
        </tr>
        <tr>
            <th>quantity:</th>
            <td>{{cartProduct.qty}}</td>
        </tr>
        <tr>
            <th>total cost:</th>
            <td>{{cartProduct.qty* cartProduct.cost| currency:undefined:0}}</td>
        </tr>
    </table>
</div>
 -->
