<h1>Inventory</h1>
<form method="GET">
	<h5>Name:</h5>
	<input type="text" name="name" ng-model="ctrl.name" required>
	<br>
	<h5>Description:</h5>
	<textarea type="text" name="description" ng-model="ctrl.description"required></textarea>
	<br>
	<h5>Price:</h5>
	<input type="text" name="price" ng-model="ctrl.price" required>
	<br>
	<h5>Quantity:</h5>
	<input type="text" name="quantity" ng-model="ctrl.quantity" required>
	<br>
	<button type="submit" ng-click="ctrl.addProduct()">Add to Inventory</button>
</form>

<div ng-repeat="product in ctrl.products">
		{{product.name}}
		{{product.description}}
		{{product.price}}
		{{product.quantity}}
</div>