<div class="container">
	<button ui-sref="admin">Go Back</button>
	<button ng-click="showmyform = true">Add New Product</button>
	<form class = "container"ng-show="showmyform">
		<h5>Name:</h5>
		<input type="text" name="name" ng-model="ctrl.name" required>
		<br>
		<h5>Description:</h5>
		<textarea type="text" name="description" ng-model="ctrl.description"required></textarea>
		<br>
		<h5>Price:</h5>
		<input type="text" name="price" ng-model="ctrl.price" required>
		<br>
		<h5>Quantity:</h5>
		<input type="text" name="quantity" ng-model="ctrl.quantity" required>
		<br><br>
		<h5>Image:</h5><input ngf-select ngf-max-size="2MB" accept = "image/*" type="file" name="userPhoto" ng-model="ctrl.photo">
		<button ng-click="ctrl.upload(ctrl.photo)">Upload File</button>
		<br><br>
		<button ng-click="ctrl.addProduct()">Add to Inventory</button><button ng-click="showmyform = false">Cancel</button>
	</form>

	<h1>Your Products</h1>
	<div ng-repeat="product in ctrl.products">
		<table>
			<tr>
				<th class="col-sm-3"> </th>
				<th class="col-sm-3">Name</th>
				<th class="col-sm-3">Quantity</th>
				<th> </th>
			</tr>
			<tr ng-repeat="product in ctrl.products">
				<td class="col-sm-3">
					<img src="{{product.image}}" style="width:200px">
				</td>
				<td class="col-sm-3">
					{{product.name}}
				</td>
				<td class="col-sm-3">
					<input type="number" ng-model="product.quantity">
				</td>
				<td><button ng-click="ctrl.updateProduct(product)">update</button>
				<button ng-click="ctrl.deleteProduct(product._id)">delete</button>
				</td>
				
			</tr>
		</table>
	</div>
</div>