<div class="row">

<div class="banner-clean">
	<div class="headertxt col-xs-5 col-xs-offset-1">
		<h1>Get cosy with us</h1>
		<button class="btn headerBtn" ui-sref="product">MEET MYSA</button>
	</div>
	<!-- <div class="col-xs-6"></div> -->
</div>

<div class="banner-banner">
</div>

<div class="row threeCol">
	<div class="energy col-xs-6 col-md-4">
		<img src="/assets/img/light.png">
		<h1>Energy Saving</h1>
		<br>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
		</p>
	</div>
	<div class="style col-xs-6 col-md-4">
		<img src="/assets/img/lotus.png">
		<h1>Style</h1>
		<br>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
		</p>
	</div>
	<div class="safe col-xs-6 col-md-4">
		<img src="/assets/img/safe.png">
		<h1>Safety</h1>
		<br>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
		</p>
	</div>
</div>

<div class="banner-bedroom">
</div>

</div>



