<div class="banner-banner">
	<!-- <div class="headertxt col-xs-5 col-xs-offset-1">
		<button class="btn headerBtn" ui-sref="product">MY MYSA</button>
	</div>
	<div class="col-xs-6"></div> -->
</div>

<div class="banner-bedroom">
	<!-- <div class="col-xs-6"></div>
	<div class="col-xs-6"></div> -->
</div>

<!-- <div class="col-xs-12">
	<div class="steel col-xs-4"></div>
	<div class="plastic col-xs-4"></div>
	<div class="woodgrain col-xs-4"></div>
</div> -->
<!-- 
<div class="banner-clean col-xs-12">
	<div class="col-xs-6"></div>
	<div class="col-xs-6"></div>
</div> -->



