<!-- <div class="container login mainContent">


	<h2>Admin Login</h2>
		Email: <input ng-model="ctrl.email" type="text" placeholder="Email Address"/>
		</label>
	<br>
		Password:<input ng-model="ctrl.password" type="password" placeholder="Password"/>

	<br><br>

	<button class="button" value="{{ctrl.auth_btn}}" ng-click="ctrl.login()"/>&#8594;</button>



</div> -->

<div class="container container-login login">
<section class="content">

    <h2>Admin Login</h2>

        <i class="fa fa-fw fa-envelope icon icon--hideo"></i>
            Email<input ng-model="ctrl.email" type="text" placeholder="Email Address"/>


    <br><br>

        <i class="fa fa-fw fa-lock icon"></i>
        Password <input ng-model="ctrl.password" type="password" placeholder="Password"/>

    <br><br>

    <button class="btn" value="{{ctrl.auth_btn}}" ng-click="ctrl.login()"/>&#8594;</button>

</section>

</div>
		