<h1>Product</h1>
<br>
	<!-- <img ng-src="{{'/assets/img/' + ctrl.product.image}}"> -->
	<img ng-src="/assets/img/demo.jpg" width="30%"></a>

	<br><br>
	<h5>Name:</h5> {ctrl.product.name}}	
	<br>
	<h5>Description:</h5>
	<p style="width:400px;">{{ctrl.product.description}}</p>
	<br>
	<h5>Price:</h5> {{ctrl.product.price | currency}}
	<br><br>

<button ng-click="ctrl.addToCart(ctrl.product); toggle=!toggle"><span ng-show="toggle">product added!</span><span ng-hide="toggle">Add to Cart</span></button>

