@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
/* Grid */
/*.grid__item {
	height: calc(100vh - 40px);
	min-height: 460px;
	max-width: calc(100vw - 40px);
	background: transparent;
	margin: 0;
	padding: 0;
	z-index: 1;
	position: relative;
	text-align: center;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-transform: translate3d(0,0,0); /* Solves Safari bug because of SVG clipping mask 
}

.grid__item p {
	font-size: 1.5em;
	font-weight: bold;
	color: #777;
}*/

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'codropsicons';
    src:url('../fonts/codropsicons/codropsicons.eot');
    src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/codropsicons/codropsicons.woff') format('woff'),
        url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
        url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, 
*:after, 
*:before { 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

.clearfix:before, 
.clearfix:after { 
	content: ''; 
	display: table; 
}

.clearfix:after { 
	clear: both; 
}

body {
	font-size: 1.5em;
}

a {
	text-decoration: none;
	color: #4e3c3e;
	outline: none;
}

a:hover,
a:focus {
	color: #cccae5;
}

hr {
	border:0.5px solid lightgrey;
}

.container-login {
	margin: 0 auto;
	text-align: left;
	overflow: hidden;
}

.content {
	font-size: 150%;
}

.content h2 {
	opacity: 0.7;
	font-weight: 100;
}

.login {
    width: 25%;
    padding: 25px;
}

/*.container {
    margin: auto;
    width: 70%;
    padding: 50px;
}*/


#wordContent{
	text-align: justify;
	padding: 10px;
}

.loginForm {
	width:80%;
}

.login button {
	width: 45px;
	height:30px;
	background: transparent;
	border: dotted 1px;
	float: right;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: 25px;
	padding-bottom: 25px;
}

#product p {
	text-align: justify;
}

.button {
	background: white;
	border: dotted 1px;
}

.small {
	width: 45px;
	height:30px;
}

.buyBtn {
	width:10%;
}

.headerBtn {
	border-radius: 13px;
	padding: 4% 5%;
	background-color: #00bfff;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 120;
    letter-spacing: 1.5px;
    z-index: 10;
}

#shippingInfo {
	width:35%;
	margin-left: 15%;
	padding: 10 50px;
	margin-right: 0;
}

#shippingInfo .btn{
	margin: 0 auto;
}

.footer {
	font-size: 20px;
	margin-left: 45%;
}

.footer i {
	margin: 1%;
}

.inputform {
	width: 100%;
}

.orderReview {
	width: 400px;
	background-color:white;
    position: fixed;
    float: left;
    left: 50%;
    top:9%;
}

.navbar {
	font-size: 25px;
	font-weight: 100;
	padding:50px 50px;
	background-color: white;
	border: none;
}

.nav-left {
	background-image: url("./../img/logoblue.png");
	background-size: cover;
	position: absolute;
	z-index: 10;
	width: 150px;
	height: 150px;
	top: 0;
}

.nav-right{
	float:right;
	z-index: 10;
}

.nav-right a {
	padding:10px;
}

/*BANNERS*/

.banner-bedroom {
	background-image: url("../img/banner-bedroom.jpg");
	background-size: cover;
	height: 100%;
	position: relative;
	z-index:1;
}

.banner-banner {
	background-image: url("../img/banner-banner.jpg");
	background-size: cover;
	height: 100%;
	position: relative;
	z-index:1;
	
}

.banner-clean {
	background-image: url("../img/banner-clean.jpg");
	background-size: cover;
	height: 100%;
	position: relative;
	z-index:1;
}

.banner-clean h1{
	font-size: 100px;
	font-weight: 500;
	line-height: 25%;
}

.headertxt{
	position: relative;
	left:5%;
	top: 10%;
}

.threeCol {
	margin: auto 0;
	padding:10%;
}

.threeCol p {
	text-align: justify;
}

.threeCol img {
	width:300px;
	border-radius: 100%;
	border: dotted 1px;
	padding: 15%;
	margin-bottom: 50px;
}

.threeCol div {
	padding: 50px;
}

/*TEXTURES*/
/*
.steel {
	background-image: url("../img/texture-steel.jpg");
	background-size: contain;
	border-radius: 25px;
	background-size: cover;
	width: 300px;
	height: 300px;
}

.plastic {
	background-image: url("../img/texture-plastic.jpg");
}

.woodgrain {
	background-image: url("../img/texture-plastic.jpg");
}*/

/*ABOUT*/

.about-logo{
	background-image: url("./../img/logoblue.png");
	background-size: cover;
	width: 200px;
	height: 200px;
	/*background-repeat: no-repeat;*/
}

.about {
	padding: 10% 5%;
}

#contact{
	margin:0 auto;
	text-align: left;
	padding:10%;
}


/*FAQ*/

.header.panel-group{
	font-size: 30px;
}
.panel-group{
	margin: 0 auto;
}

#headingOne {
	background: white;
	text-align: left;
	font-family: slabo;
	font-size: 30px;
}

.panel-body {
	text-align:justify;
}

/*ADMIN*/

.admin {
	padding-bottom: 10%;
}

.admin .btn{
	background-color:white;
}

.admin .vertBtns {
	padding: 0px;
	padding-top: 5%;
}

.admin .currProd {
	padding: 0px;
}

.currProd p {
	padding-left: 1%;
}

/*ORDER DETAILS*/

.orderDetails{
	padding-bottom: 10%;
}

.orderDetails th {
	opacity: .8;
}

.orderDetails table td {
	padding:20px;
	vertical-align: text-top;
}

.orderDetails table b {
	margin-right: 20px;
}

.orderDetails .t1 {
	margin-right: 40px;
}

.orderDetails h1 {
	margin-top: 5%;
}

.orderDetails .completeOrd {
	border: none;
	width: 100%;
}

/*INVENTORY*/

.inventory {
	padding-bottom: 10%;
}

.inventory h1 {
	margin-top: 0px;
}

.inventory .input {
	width: 90%;
	margin: 0px;
}


/*PRODUCT PAGE*/

.curr_amt {
	font-size:18pt;
}

.mainContent .header{
	font-size: 25pt;
	text-align: left;
	padding:0;
}
.mainContent {
	margin-top:100px;
	padding: 5%;
	text-align: left;
	color:#403D39;
}

.mainContent .img{
	width: 100%;
}

.mainContent .btn{
	padding:0 18px;
	font-size: 18px;
	line-height: 50px;
	width:150px;
	text-align:center;
	background-color: #00BCD4;
	color:white;
	border-radius: 25px;
}