.login {
    width: 25%;
    padding: 25px;
}

.loginForm {
    width:80%;
}

/*.container {
    margin: auto;
    width: 60%;
    border: 1px dotted gray;
    padding: 10px;
}*/

.login {
	width: 30%;
	padding: 20px;
}

.loginForm {
	width:80%;
}

.login button {
	width: 45px;
	height:30px;
	background: transparent;
	border: dotted 1px;
	float: right;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: 25px;
	padding-bottom: 25px;
}

#shippingInfo {
	width:35%;
	margin-left: 10%;
	padding: 10 50px;
	margin-right: 0;
}

.inputform {
	width: 100%;
}

.tableCol1 {
	width:10%;
}

.orderReview {
	width: 400px;
	background-color:white;
    position: fixed;
    float: left;
    left: 50%;
    top:9%;
}

.nav {
	margin-left:5%;

}

/* ADMIN LOGIN */

.input--hideo {
	overflow: hidden;
	background: #fff;
}

.input__field--hideo {
	padding: 0.85em 0.85em 0.85em 3em;
	width: 100%;
	background: transparent;
	-webkit-transform: translate3d(1em, 0, 0);
	transform: translate3d(1em, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--hideo {
	position: absolute;
	padding: 1.25em 0 0;
	width: 4em;
	height: 100%;
}

.input__label--hideo::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 4em;
	height: 100%;
	background: #899dda;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.icon--hideo {
	color: #fff;
	-webkit-transform: scale3d(1, 1, 1); /* Needed for Chrome bug */
	transform: scale3d(1, 1, 1);
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label-content--hideo {
	position: absolute;
	top: 100%;
}

.input__field--hideo:focus {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field--hideo:focus + .input__label--hideo::before {
	-webkit-transform: scale3d(0.8, 1, 1);
	transform: scale3d(0.8, 1, 1);
}

.input__field--hideo:focus + .input__label--hideo .icon--hideo {
	-webkit-transform: scale3d(0.6, 0.6, 1);
	transform: scale3d(0.6, 0.6, 1);
}